
# Python Language Essentials - Notes

## 1. Basics

### 1.1. Check object type - isinstance

In [1]:
a = 5

isinstance(a, int)

True

In [2]:
isinstance(a, (int, float))

True

### 1.2. Check is two references refer to the same object

In [3]:
b = [1, 2, 3]
c = [1, 2, 3]

In [4]:
b == c

True

In [5]:
b is c

False

In [6]:
c = b
b is c

True

There is only one instance of None

In [7]:
d = None
e = None
d is e

True

## 1.3. Numeric Types

### 1.3.1. long

Large int will be converted to long type automatically

In [8]:
ival = 17239871

In [9]:
lval = ival ** 6
lval

26254519291092456596965462913230729701102721L

In [10]:
type(lval)

long

### 1.3.2. Complex numbers

In [11]:
cval = 1 + 2j

In [12]:
cval * (1 - 2j)

(5+0j)

In [13]:
type(cval)

complex

## 1.4. Strings

In [14]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [15]:
print s

this\has\no\special\characters

## 1.5. Booleans

Almost all built-in Python types and class defining the __nonzero__ magic method have a True or False interpretation in an if statement:

In [16]:
a = []
if not a:
    print "empty"

empty

In [17]:
b = [1, 2, 3]
if b:
    print "not empty"

not empty

In [18]:
bool('Hello'), bool('')

(True, False)

In [19]:
bool(0), bool(1)

(False, True)

## 1.6. Dates and times

In [20]:
from datetime import datetime, date, time

In [21]:
dt = datetime(2011, 10, 29, 20, 30, 31)

In [22]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 31)

In [23]:
dt.day

29

In [24]:
dt.minute

30

In [25]:
dt.date()

datetime.date(2011, 10, 29)

In [26]:
dt.time()

datetime.time(20, 30, 31)

Formats a datetime as a string

In [27]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

Converts a string into datetime object

In [28]:
datetime.strptime('20170906', '%Y%m%d')

datetime.datetime(2017, 9, 6, 0, 0)

Replaces fields of a datetimes

In [29]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

The difference of two datetime objects

In [30]:
dt2 = datetime(2017, 11, 10)

In [31]:
delta = dt2 - dt

In [32]:
delta

datetime.timedelta(2203, 12569)

### 1.7 Unpacking tuples

In [33]:
tup = 4, 5, (6, 7)

In [34]:
a, b, (c, d) = tup

In [35]:
d

7

If the elements in the collection or iterator are sequences (tuple or lists, etc.), they can be conveniently unpacked into variables in the for loop statement

In [36]:
x = [(x, x * 2, x ** 2) for x in [1, 2, 3]]

In [37]:
for a, b, c in x:
    print a, b, c

1 2 1
2 4 4
3 6 9

### 1.8 Ternary Expression

A ternary expression allows combining an if-else block which produces a value into a single line

In [38]:
x = 5

In [39]:
'None-negative' if x >= 0 else 'Negative'

'None-negative'

Cannot assign a value in the block

In [40]:
y = x if x >= 0 else y = -x

SyntaxError: can't assign to conditional expression (<ipython-input-40-71f79eddf7e9>, line 1)

### 1.9 Slicing

Take every other element

In [41]:
seq = range(10)

In [42]:
seq[::2]

[0, 2, 4, 6, 8]

Reverse a list or tuple

In [43]:
seq[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 2. Built-in Sequence Functions

### 2.1 enumerate

The built-in function enumerate which returns a sequence of (i, value) tuples:

In [44]:
some_list = ['foo', 'bar', 'baz']

In [45]:
mapping = dict((v, i) for i, v in enumerate(some_list))

In [46]:
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

### 2.2 sorted

Gets a sorted list of the unique elements in a sequence

In [47]:
sorted(set('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']

### 2.3 zip

zip "pairs" up the elements of a number of lists, tuples, or other sequences, to create a list of tuples. The number of elements it produces is determined by the shortest sequence:

In [48]:
seq1 = ['foo', 'bar', 'baz']

In [49]:
seq2 = [1, 2]

In [50]:
zip(seq1, seq2)

[('foo', 1), ('bar', 2)]

A very common use of zip is for simultaneously iterating over multiple sequences

In [59]:
enumerate(zip(seq1, seq2))

In [51]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print ('%d: %s, %d' % (i, a, b))

0: foo, 1
1: bar, 2

Converts a list of rows into a list of columns

In [52]:
pichers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [53]:
first_names, last_names = zip(*pichers)  # * operator unpacks the list into three tuples as three arguments

In [54]:
first_names

('Nolan', 'Roger', 'Schilling')

In [55]:
last_names

('Ryan', 'Clemens', 'Curt')

## 3. Dict

### 3.1 Creating dicts from sequences

In [56]:
dict([(1,1), (2,2)])  ## A dict is essentially a collection of 2-tuples

{1: 1, 2: 2}

In [57]:
mapping = dict(zip(range(5), reversed(range(5))))

In [58]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### 3.2 Dict comprehension

In [81]:
strings = ['a', 'as', 'bat', 'car', 'dove']

In [82]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [83]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4}

### 3.3 Default values

In [61]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [62]:
by_letter = dict()

Set default value

In [66]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [67]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

Get default value

In [65]:
by_letter.get('c', [])

[]

defaultdict module - Creates a dict by passing a type or function for generating the default value for each slot

In [68]:
from collections import defaultdict

In [69]:
by_letter = defaultdict(list)

In [70]:
for word in words:
    by_letter[word[0]].append(word)

defaultdict can also take a function without parameter as an argument, using the return value as default value

In [72]:
count_first_letter = defaultdict(lambda: 0)

In [73]:
for word in words:
    count_first_letter[word[0]] += 1

In [74]:
count_first_letter

defaultdict(<function __main__.<lambda>>, {'a': 2, 'b': 3})

### 3.4 valid dict key types

The key of a dict must be hashable. If a object is hashable, it must be immutable; But a immutable object is not necessary be hashable.

In [76]:
hash('string')

-9167918882415130555

In [77]:
hash((1, 2, (2, 3)))

1097636502276347782

In [78]:
hash((1, 2, [3]))

TypeError: unhashable type: 'list'

## 4 Function

### 4.1 Namespaces, Scope and Local Functions

The global variable cannot be assigned within a function withoud declared as global

In [93]:
a = 1
def func():
    a = 2

In [94]:
func()

In [95]:
a

1

But could be muted if it is a mutable object

In [96]:
a = []
def func():
    a.append(1)

In [97]:
func()
a

[1]

### 4.2 Returning Multipe Values

In [100]:
def f():
    a = 1
    b = 2
    c = 3
    return a, b, c

In [101]:
a, b, c = f()

In [103]:
print a, b, c

1 2 3

### 4.3 Functions Are Object

Make a list of the operations(functions) you want to apply to set of strings:

In [104]:
import re

In [118]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

In [119]:
clean_ops = [str.strip, remove_punctuation, str.title]

In [131]:
def clean_strings(strings, ops):
    result = []
    for string in strings:
        for function in ops:
            string = function(string)
        result.append(string)
    return result

In [132]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [133]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

### 4.4 Closures: Functions that Return Functions

A closure is any dynamically-generated function return by another function. The key property is that the returned function has access to the variables in the local namespace where it was created.

In [145]:
def make_closure(a):
    def closure():
        print 'I know the secret: %d' %a
    return closure

In [146]:
closure = make_closure(5)

In [147]:
closure

In [148]:
closure()

I know the secret: 5

A function returns a function that keeps track of arguments it has been called

In [151]:
def make_watcher():
    have_seen = dict()
    
    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True
            return False
    return has_been_seen

In [152]:
watcher = make_watcher()

In [153]:
vals = [5, 6, 1, 5, 1, 6, 3, 5]

In [154]:
[watcher(x) for x in vals]

[False, False, False, True, True, True, False, True]

However, one technical limitation to keep in mind is that while you can mutate any internal state objects (like adding key-value pairs to a dict), you cannot bind variables in the enclosing function scope. One way to work around this is to modify a dict or list rather than binding variables

Usage: Writing very general functions with lots of options, then fabricate simpler, more specialized functions.

In [161]:
def format_and_pad(template, space):
    def formatter(x):
        return (template % x).rjust(space)
    return formatter

In [162]:
fmt = format_and_pad('%.4f', 15)

In [163]:
fmt(1.756)

'         1.7560'

These patterns also could be implemented using classes.
A difference is the method of a class could assign(bind) it's attribute inside directly.

### 4.5 Extended Call Syntax with \*args, **kwargs

The positional and keyword arguments of `func(a, b, c, d=some, e=value)` are packed up into tuple and dict. The internal function receives a tuple `args` and dict `kwargs` and does the equivalent of:

In [ ]:
a, b, c = args
d = kwargs.get('d', d_default_value)
c = kwargs.get('c', c_default_value)

In [165]:
def say_hello_then_call_f(f, *args, **kwargs):
    print 'args is', args
    print 'kwargs is', kwargs
    print "Hello! Now I'm going to call %s" % f
    return f(*args, **kwargs)

In [167]:
def g(x, y, z=1):
    return (x + y) / z

In [171]:
say_hello_then_call_f(g, 1, 2, z=5.)

args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x10ccdf938>

0.6