
# Python Language Essentials - Notes

## 1. Types

### 1.1. Check object type - isinstance

In [1]:
a = 5

isinstance(a, int)

True

In [2]:
isinstance(a, (int, float))

True

### 1.2. Check is two references refer to the same object

In [3]:
b = [1, 2, 3]
c = [1, 2, 3]

In [4]:
b == c

True

In [5]:
b is c

False

In [6]:
c = b
b is c

True

There is only one instance of None

In [7]:
d = None
e = None
d is e

True

## 1.3. Numeric Types

### 1.3.1. long

Large int will be converted to long type automatically

In [8]:
ival = 17239871

In [9]:
lval = ival ** 6
lval

26254519291092456596965462913230729701102721L

In [10]:
type(lval)

long

### 1.3.2. Complex numbers

In [11]:
cval = 1 + 2j

In [12]:
cval * (1 - 2j)

(5+0j)

In [13]:
type(cval)

complex

## 1.4. Strings

In [14]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [15]:
print s

this\has\no\special\characters

## 1.5. Booleans

Almost all built-in Python types and class defining the __nonzero__ magic method have a True or False interpretation in an if statement:

In [16]:
a = []
if not a:
    print "empty"

empty

In [17]:
b = [1, 2, 3]
if b:
    print "not empty"

not empty

In [18]:
bool('Hello'), bool('')

(True, False)

In [19]:
bool(0), bool(1)

(False, True)

## 1.6. Dates and times

In [20]:
from datetime import datetime, date, time

In [21]:
dt = datetime(2011, 10, 29, 20, 30, 31)

In [22]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 31)

In [23]:
dt.day

29

In [24]:
dt.minute

30

In [25]:
dt.date()

datetime.date(2011, 10, 29)

In [26]:
dt.time()

datetime.time(20, 30, 31)

Formats a datetime as a string

In [27]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

Converts a string into datetime object

In [28]:
datetime.strptime('20170906', '%Y%m%d')

datetime.datetime(2017, 9, 6, 0, 0)

Replaces fields of a datetimes

In [29]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

The difference of two datetime objects

In [30]:
dt2 = datetime(2017, 11, 10)

In [31]:
delta = dt2 - dt

In [32]:
delta

datetime.timedelta(2203, 12569)

## 2. Unpacking tuples

In [33]:
tup = 4, 5, (6, 7)

In [34]:
a, b, (c, d) = tup

In [35]:
d

7

If the elements in the collection or iterator are sequences (tuple or lists, etc.), they can be conveniently unpacked into variables in the for loop statement

In [36]:
x = [(x, x * 2, x ** 2) for x in [1, 2, 3]]

In [37]:
for a, b, c in x:
    print a, b, c

1 2 1
2 4 4
3 6 9

## 3. Ternary Expression

A ternary expression allows combining an if-else block which produces a value into a single line

In [38]:
x = 5

In [39]:
'None-negative' if x >= 0 else 'Negative'

'None-negative'

Cannot assign a value in the block

In [40]:
y = x if x >= 0 else y = -x

SyntaxError: can't assign to conditional expression (<ipython-input-40-71f79eddf7e9>, line 1)

## 4. Slicing

Take every other element

In [41]:
seq = range(10)

In [42]:
seq[::2]

[0, 2, 4, 6, 8]

Reverse a list or tuple

In [43]:
seq[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 5. Built-in Sequence Functions

### 5.1 enumerate

The built-in function enumerate which returns a sequence of (i, value) tuples:

In [44]:
some_list = ['foo', 'bar', 'baz']

In [45]:
mapping = dict((v, i) for i, v in enumerate(some_list))

In [46]:
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

### 5.2 sorted

Gets a sorted list of the unique elements in a sequence

In [47]:
sorted(set('this is just some string'))

[' ', 'e', 'g', 'h', 'i', 'j', 'm', 'n', 'o', 'r', 's', 't', 'u']

### 5.3 zip

zip "pairs" up the elements of a number of lists, tuples, or other sequences, to create a list of tuples. The number of elements it produces is determined by the shortest sequence:

In [48]:
seq1 = ['foo', 'bar', 'baz']

In [49]:
seq2 = [1, 2]

In [50]:
zip(seq1, seq2)

[('foo', 1), ('bar', 2)]

A very common use of zip is for simultaneously iterating over multiple sequences

In [51]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print ('%d: %s, %d' % (i, a, b))

0: foo, 1
1: bar, 2

Converts a list of rows into a list of columns

In [52]:
pichers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [53]:
first_names, last_names = zip(*pichers)  # * operator unpacks the list into three tuples as three arguments

In [54]:
first_names

('Nolan', 'Roger', 'Schilling')

In [55]:
last_names

('Ryan', 'Clemens', 'Curt')